.row{
    display: flex;
    justify-content: center;
}
.note{
    height: 100px;
    width: 100px;
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    background-color: lightyellow;

}

.shadow{
    box-shadow: 5px 5px 5px rgb(104, 104, 104);
    position: relative;
    bottom: 10px;
    cursor: pointer;
}
