.container{
    width: 100px;
    height: 100px;
    background-color: rgb(61, 61, 61);
}
.sub-container{
    width: auto;
    height: auto;
    background-color: rgb(0, 92, 92);
}
h1{
    background-color: navy;
    color: whitesmoke;
}
body{
    background-color: blanchedalmond;
}
li, ol, ul{
    background-color: rebeccapurple;
    color: rgb(210, 255, 87);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-block: 10px;
}

